body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/012/313/012/large_2x/watercolor-pastel-lavender-background-texture-light-purple-stains-on-paper-hand-painted-photo.jpg);
    background-attachment: fixed;
    color: #333;
    font-family: Helvetica, "Open Sans", sans-serif;
}

li a:hover {
    background-color: rgb(186, 156, 186)
}

.navbar-nav .nav-link {
    color: rgb(97, 0, 97);
}

#Dashboard .navbar-nav .nav-link {
    color: rgb(97, 0, 97);
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h4, .btn {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

table {
    background-color: white;
    max-width: 900px;
}

#h4_1 {
    text-align: center;
}

#target, button  {
    max-width: 400px;
}

caption {
    color: #333; /* Change the color to your desired value */
}

main {
    padding: 20px;

}

#below_table {
    padding-top: 20px;
}

#below_table button {
    background-color: rgb(97, 0, 97);
    color: #ffffff;
}

.radio {
    display: flex;
    justify-content: space-around;
    margin-top: 10px;
}

#target .card {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

#below_table button:hover {
    background-color: rgb(76, 0, 76);
}
