body {
    background-image: url(https://static.vecteezy.com/system/resources/previews/012/313/012/large_2x/watercolor-pastel-lavender-background-texture-light-purple-stains-on-paper-hand-painted-photo.jpg);
    background-attachment: fixed;
    color: #333;
    font-family: Helvetica, "Open Sans", sans-serif;

}

li a:hover {
    background-color: rgb(186, 156, 186)
}

#Contact .navbar-nav .nav-link {
    color: rgb(97, 0, 97);
    font-size: large;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

h1 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.center {
    text-align: center;
}

form, #submit_reset_btn{
    max-width: 640px;
    width: 100%;
    margin:auto;
}

.custom-submit-button {
    background-color: rgb(70, 98, 67); 
    color: #ffffff; 
}   

.custom-reset-button {
    background-color: rgb(64, 79, 83);
    color: #ffffff; 
}

.checkbox {
    color: rgb(83, 82, 82);
}

address {
    color: rgb(83, 82, 82);
}

#linkedin_img_lnk img {
    width: 200px;
    height: 100px;
}

#telegram_img_lnk img {
    width: 94px;
    height: 94px;
}

.inputs_3 {
    font-size: x-large;
}

#media_links {
    text-align: center; /* Center the content within the #media_links section */
    margin-top: 20px; /* Add some top margin for spacing */
}

#media_links a {
    display: inline-block; /* Display the links in a row */
    margin: 0 10px; /* Add margin to separate the links */
}

#media_links img {
    border-radius: 50%; /* Make the images circular with border-radius */
    transition: transform 0.3s ease-in-out; /* Add a smooth transition effect */
}

#media_links img:hover {
    transform: scale(1.2); /* Enlarge the image on hover */
}
